@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 1280px;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}
.main-header-logo {
  display: block;
  position: relative;
  width: 140px;
  margin-bottom: -6px;
  z-index: 2;
}
.navigation {
  width: 1060px;
  display: flex;
  margin: 0 auto;
}
.navigation-list {
  min-width: 339px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
}
.navigation-user {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding:0;
  list-style: none;
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}
.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}
.search::before {
  content: url("../images/search.svg");
}
.favourites::before {
  content: url("../images/heart.svg");
}
.number-of-likes {
  display: inline-block;
  text-align: center;
  background-color: #7DB54F;
  border: #7DB54F solid;
  border-radius: 50%;
  color: #ffffff;
  margin-left: -15px;
  margin-bottom: -6px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
}
.hero {
  display: flex;
  background-image: url("../images/Vector-hero.png"), url("../images/mountains-hero.jpg");
  background-color: #000000;
  background-size: cover contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0;
  min-height: 485px;
}
.hero-image {
  display: block;
  margin: 51px auto 82px;
}
.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin: 69px 0;
}
.container-text-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-wrapper {
  width: 230px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 90px 85px;
  margin-top: auto;
  margin-bottom: auto;
}
.service-wrapper {
  width: 230px;
  min-height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 80px 85px;
  margin-top: auto;
  margin-bottom: auto;
}
.container-item {
  margin-top: 64px;
}
.advantages-item {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 385px;
  text-align: center;
  list-style: none;
}
.text-position {
  padding-top: 96px;
  padding-bottom: 54px;
}
.subject {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.desc {
  margin: 0;
  text-align: center;
}
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.text-color {
  color: #ffffff;
}
.background-basic-3 {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  background: #82B3D3;
}
.background-second-2 {
  background: rgba(131, 179, 211, 0.20);
}
.house::before {
  content: url("../images/advantages/Advantage-house.svg");
}
.food::before {
  content: url("../images/advantages/Advantage-food.svg");
}
.souvenirs::before {
  content: url("../images/advantages/Advantage-souvenirs.svg");
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
}
.background-second-1 {
  background: rgba(131, 179, 211, 0.12);
}
.hotel-search {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 96px;
  text-align: center;
  align-items: center;
}
.subscribe {
  background-image: url("../images/Subscribe.jpg");
  background-color: #000000;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #ffffff;
  text-align: center;
  min-height: 415px;
}
.subscribe-inner {
  padding-bottom: 104px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.field {
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
  border: none;
}
.contacts-phone {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
.section-filters {
  min-height: 412px;
  padding: 35px 70px 0 70px;
  background-image: url("../images/Filter.jpg");
  background-color: #000000;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #ffffff;
}
.container-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 32px;
}
.button-background {
  border: none;
}
.catalog-hotels {
  width: 1060px;
  margin: 50px auto 60px;
}
.container-options {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.main-page::before {
  content: url("../images/home-icon.svg");
  margin-right: 10px;
}
.main-page::after {
  content: url("../images/arrow.svg");
  margin-right: 10px;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.breadcrumbs-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
}
.catalog-filter {
  display: flex;
  justify-content: space-between;
}
.filters {
  margin-top: 40px;
}
.filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.filter-group {
  margin: 0;
  padding: 0;
}
.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-item {
  margin-bottom: 16px;
}
.active::before {
  content: url("../images/star.svg");
}
.control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}
.select-control {
  margin-left: auto;
  margin-right: 70px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}
.button-text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
.brand-color {
  background-color: #82B3D3;
  border: #82B3D3 solid;
}
.button-background-active {
  background-color: #7DB54F;
  border: #7DB54F solid;
}
.button-view {
  display: flex;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 4px;
  gap: 10px;
}
.tile {
  content: url("../images/Tile.svg");
  width: 16px;
  height: 14px;
  margin-right: 8px;
}
.gallery {
  content: url("../images/Gallery.svg");
  width: 16px;
  height: 14px;
  margin-right: 8px;
}
.list {
  content: url("../images/List.svg");
  width: 16px;
  height: 14px;
}
.product-list {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  box-sizing: border-box;
  gap: 20px;
}
.product-card {
  width: 300px;
  padding: 20px;
  min-height: 438px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}
.hotels-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}
.rating-hotels {
  display: flex;
  list-style: none;
}
.product-card-link {
  text-decoration: none;
}
.text-decoration {
  font-size: 18px;
  line-height: 21px;
}
.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  gap: 8px;
}
.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  text-decoration: none;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
}
.pagination-current {
  background: #F2F2F2;
  color: #000000;
}
.pagination-more {
  background: #FFF;
  color: #000000;
}
.page-footer-container {
  width: 1060px;
  margin: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-list {
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* padding: 0px 10px;
  gap: 10px; */
}
.social-item {
  width: 47px;
  height: 40px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
