@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
}
.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.search::before {
  content: url("../images/search.svg");
}
.favourites::before {
  content: url("../images/heart.svg");
}
.hero {
  background-image: url("../images/Vector-hero.png"), url("../images/mountains-hero.jpg");
  background-color: #000000;
  background-size: cover contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  height: 485px;
}
.subject {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.desc {
  text-align: center;
}
.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
.text-color {
  color: #ffffff;
}
.background-basic-3 {
  background: #82B3D3;
}
.background-second-2 {
  background: rgba(131, 179, 211, 0.20);
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
}
.background-second-1 {
  background: rgba(131, 179, 211, 0.12);
}
.hotel-search {
  text-align: center;
}
.subscribe {
  background-image: url("../images/Subscribe.jpg");
  background-color: #000000;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #ffffff;
  text-align: center;
  height: 415px;
}
.field {
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
}
.contacts-phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}
.section-filters {
  background-image: url("../images/Filter.jpg");
  background-color: #000000;
  background-size: cover, contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #ffffff;
}
.main-page::before {
  content: url("../images/home-icon.svg");
}
.main-page::after {
  content: url("../images/arrow.svg");
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}
.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}
.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}
.number-of-likes {
  background-color: #7DB54F;
  border: #7DB54F solid;
  border-radius: 50%;
}
.button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}
.button-text {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
.brand-color {
  background-color: #82B3D3;
  border: #82B3D3 solid;
}
.button-background-active {
  background-color: #7DB54F;
  border: #7DB54F solid;
}
.button-view {
  display: flex;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  background-color: #FFF;
  border: 2px solid #000;
  border-radius: 4px;
  gap: 10px;
}
.tile {
  content: url("../images/Tile.svg");
  width: 16px;
  height: 14px;
}
.gallery {
  content: url("../images/Gallery.svg");
  width: 16px;
  height: 14px;
}
.list {
  content: url("../images/List.svg");
  width: 16px;
  height: 14px;
}
.hotels-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}
.product-card-link {
  text-decoration: none;
}
.text-decoration {
  font-size: 18px;
  line-height: 21px;
}
.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
